@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Bogle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Story+Script&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;

  color-scheme: light dark;
  --background: #DEB887;
  --text-color: #004C99;

  --scrollbar-track: var(--background);   /* Track / background */
  --scrollbar-thumb: var(--text-color);   /* Draggable thumb */
  --scrollbar-thumb-hover: color-mix(in srgb, var(--text-color) 80%, black); /* optional hover */
}

html[data-theme="light"] {
  --background: #DEB887;
  --text-color: #004C99;
}

html[data-theme="dark"] {
  --background: #004C99;
  --text-color: #DEB887;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px; /* for horizontal scrollbars */
}

/* Track / background */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 6px;
}

/* Thumb / draggable part */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 6px;
  border: 3px solid var(--scrollbar-track); /* creates padding inside scrollbar */
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

/* Optional corner for two-dimensional scroll areas */
::-webkit-scrollbar-corner {
  background: var(--scrollbar-track);
}

body {
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--background);
  color: var(--text-color);

  transition: background-color 250ms ease, color 200ms ease;

}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}

.burger, .cross{
  display: none;
}

header nav{
  margin-left: auto;
  padding-right: 2%;
  font-size: 1.6rem;
}

header button{
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  border: 1px solid transparent;
  color: var(--text-color);
}

header button:hover{
  border: 1px solid var(--text-color);
  border-radius: 20px;
  background-color: var(--text-color);
  color: var(--background);
}

.footer{
  position: relative;
  height: auto;
  width: 100%;
  padding: 20px 0;
  background-color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer li{
  color: var(--background);
  list-style-type: none;
  margin: 0;
}

.toggle-container{
  width: 80px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--text-color);

  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

.toggle-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  z-index: 1;
}

@keyframes fade{
  0%{right:55%}
  100% {right:5%}
}

.toggle{
  position: absolute;
  top: 10%;
  right: 5%;
  z-index: 2;
  width: 30px;
  height: 80%;
  border-radius: 50%;
  background-color: var(--background);
  animation: fade 0.4s;
}

@keyframes fade2{
  0%{right:5%}
  100% {right:55%}
}

.toggle.pressed{
  animation: fade2 0.4s;
  right: 55%;
}

h1{
  font-size: clamp(3rem,8vw,8rem);
  text-align: left;
  font-weight: 300;
}

h2{
  font-size: clamp(2rem,5vw,5rem);
  text-align: left;
  font-weight: 300;
  font-family: "Shadows Into Light", cursive;
  color: transparent;          /* remove fill */
  -webkit-text-stroke: 2px var(--text-color); /* outline color and thickness */
}

h3{
  color:var(--text-color);
  border: 2px solid var(--text-color);
  box-shadow: 5px 5px 0 var(--text-color);
  border-radius: 50px;
  padding: 10px;

  font-size: clamp(1.1rem, 3vw, 1.4rem);
  font-stretch:expanded;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

p{
  font-size: clamp(1.1rem, 3vw, 1.3rem);
  width: 80%;
  align-self: center;
  font-family: "Story Script", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
}

li{
  font-size: 1.3rem;
}

/*ADD ANIMATION AT INTRO*/
.landing{
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  min-height: 100vh;
}

.landing-image, .image-container{
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-image img, .image-container img{
  width: 80%;
  height: 80%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.landing-text, .text-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.landing-text p{
  width: 100%;
  text-align: left;
  margin-top: 2%;
}

.container{
  width: 90%;
  margin-top: 3%;
  min-height: 70vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-bottom: 5%;
  border-top: 2px solid var(--text-color);
  opacity: 0;
  transform: translateY(50px) scale(0.95);
  transition: all 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}

.container.animate{
  opacity: 1;
  transform: translateY(0) scale(1);
}

.container h3{
  align-self: start;
  margin-top: 2%;
}

.container p{
  justify-self: center;
}

.service-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.text-container p{
  width: 100%;
  align-items: flex-start;
}

.image-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 5%;
}

.image-wrap img{
  object-fit: contain;
}

.card-grid{
  display: flex;
  flex-wrap: nowrap;          /* NEVER wrap */
  justify-content: start;  

  gap: 10px;
  width: 95%;
  padding: 5% auto;

  overflow-x: auto;         /* desktop default */
  scrollbar-width: none;
}

.card-grid::-webkit-scrollbar {
  display: none;
}

.card{
  flex: 0 0 450px; /* fixed card width */
  height: 525px;

  border-radius: 20px;
  background-color: transparent;
  color: var(--text-color);
  border: 3px solid var(--text-color);
  padding: 20px 0;
  margin: 20px 0;
 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h4{
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 10px;
  border: 1px solid var(--background);
  padding: 10px;
  border-radius: 20px;
  background-color: var(--text-color);
  color: var(--background);
}

.card h5{
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  width: 95%;
  margin-bottom: 50px;
}

.card ul{
  padding: 0;
  margin: 0 0 0 20px;
  align-self: center;
  width: 90%;
}

.card li{
  font-size: 1.3rem;
  margin: 0 0 5px 20px;
  font-weight: 300;
}

.projects{
  border: 1px solid var(--text-color);
  width: 90%;
  border-radius: 10px;
}

.project-image{
  max-width: 400px;
  width: 50%;
}



@media only screen and (max-width: 1200px){
  .card-grid{
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;
  }

  .landing-image img, .image-container img{
    height: 60%;
  }
}

@media only screen and (max-width: 764px){
  header nav{
    display: none;
  }
  
  .burger, .cross{
    position: relative;
    display: none;
    margin-left: auto;
    cursor: pointer;
    z-index: 2;
    margin-right: 2%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .burger.show, .cross.show{
    display: block;
    opacity: 1;
  }

  .burger img, .cross img{
    position: absolute;
    top: 0;
    right: 0;   
  }

  h1, h2{
    text-align: center;
  }

  p{
    width: 95%;
  }

  .landing, .service-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .landing-image{
    height: 400px;
    width: 80%;
  }

  .landing-image img{
    width: 100%;
    height: 100%;
  }

  .landing-text p{
    text-align: center;
    width: 95%;
  }

  .image-container{
    border-radius: 10px;
    height: 400px;
  }

  .image-container img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 10px;
  }

  .container{
    width: 95%;
  }

  .card-grid{
    width: 100%;
  }

  .card {
    flex: 0 0 95%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .tc{
    font-size: 0.9rem;
  }

}



